@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: black;

  font-weight: normal;
  font-family: 'Lexend', sans-serif;
}

.v-btn__content > span {
  color: white !important;
}

.btn-black > span {
  color: white !important;
}

.gradient {
  background: linear-gradient(to right, #f5771d, #f1c6a7);
}